<section>
  <div class="container">
    <p class="personal">Alejandro González Herrera, De profesión Ingeniero en Informatica y padre de familia.</p>
  </div>
</section>
<section>
  <div class="center">
    <%= image_tag 'dj.jpg'%>
    <p>Mis hobbies son Drones - Música - Tenis - Futbol - Docencia</p>
  </div>
  <div class="pasiones">
    <p>Mi pasion es en mis ratos libres de desconexion mezclar Música</p>
  </div>
</section>